<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}
<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <div class="pick">
            <h1>Set Draft Order</h1>
            <form action="{{ url_for('draft_order') }}" method="post">

                <label for="name">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="name" placeholder="First" id="1" required>
                <input type="text" name="name" placeholder="Second" id="2" required>
                <input type="text" name="name" placeholder="Third" id="3" required>
                <input type="text" name="name" placeholder="Fourth" id="4" required>
                <input type="text" name="name" placeholder="Fifth" id="5" required>

                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
{% endblock %}