<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <h1>Events</h1>
        <input type="text" id="eventSelector" onkeyup="eventSelector()" placeholder="Search...">
    <div class="events-container">
        {{ events|safe }}
    </div>
    </body>
    <script>
        function eventSelector() {
          const input = document.getElementById("eventSelector");
          filter = input.value.toUpperCase();
          const table = document.getElementById("events");
          const rows = table.getElementsByTagName("tr");

          for (let i = 1; i < rows.length; i++) { // skip header row
            const cells = rows[i].getElementsByTagName("td");
            const user = cells[0].textContent.toLowerCase();
            const player = cells[1].textContent.toLowerCase();
            const eventType = cells[2].textContent.toLowerCase();

            const userMatch = user.includes(filter.toLowerCase());
            const playerMatch = player.includes(filter.toLowerCase());
            const eventTypeMatch = eventType.includes(filter.toLowerCase());

            // Show row if EITHER filter matches
            if (userMatch || playerMatch || eventTypeMatch) {
              rows[i].style.display = "";
            } else {
              rows[i].style.display = "none";
            }
          }
        }
    </script>
</html>
{% endblock %}