<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}
<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <div class="pick">
            <h1>Pick Your Team</h1>
            <form action="{{ url_for('pick_full') }}" method="post">

                <label for="player 1">
                    <i class="fas fa-user-plus"></i>
                </label>
                <input type="text", list="player 1" name="player 1" placeholder="Select player" required>
                <datalist id="player 1">
                    {% for player in playerlist %}
                        <option value="{{ player }}">
                    {% endfor %}
                </datalist>

                <label for="player 2">
                    <i class="fas fa-user-plus"></i>
                </label>
                <input type="text", list="player 2" name="player 2" placeholder="Select player" required>
                <datalist id="player 2">
                    {% for player in playerlist %}
                        <option value="{{ player }}">
                    {% endfor %}
                </datalist>

                <label for="player 3">
                    <i class="fas fa-user-plus"></i>
                </label>
                <input type="text", list="player 3" name="player 3" placeholder="Select player" required>
                <datalist id="player 3">
                    {% for player in playerlist %}
                        <option value="{{ player }}">
                    {% endfor %}
                </datalist>

                <label for="player 4">
                    <i class="fas fa-user-plus"></i>
                </label>
                <input type="text", list="player 4" name="player 4" placeholder="Select player" required>
                <datalist id="player 4">
                    {% for player in playerlist %}
                        <option value="{{ player }}">
                    {% endfor %}
                </datalist>

                <label for="player 5">
                    <i class="fas fa-user-plus"></i>
                </label>
                <input type="text", list="player 5" name="player 5" placeholder="Select player" required>
                <datalist id="player 5">
                    {% for player in playerlist %}
                        <option value="{{ player }}">
                    {% endfor %}
                </datalist>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
{% endblock %}