<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <h1>Players</h1>
        <input type="text" id="playerSelector" onkeyup="playerSelector()" placeholder="Search...">
    <div class="players-container">
        {{ players|safe }}
    </div>
    </body>
    <script>
        function playerSelector() {
          const input = document.getElementById("playerSelector");
          filter = input.value.toUpperCase();
          const table = document.getElementById("players");
          const rows = table.getElementsByTagName("tr");

          for (let i = 1; i < rows.length; i++) { // skip header row
            const cells = rows[i].getElementsByTagName("td");
            const name = cells[0].textContent.toLowerCase();
            const position = cells[1].textContent.toLowerCase();
            const team = cells[2].textContent.toLowerCase();

            const nameMatch = name.includes(filter.toLowerCase());
            const positionMatch = position.includes(filter.toLowerCase());
            const teamMatch = team.includes(filter.toLowerCase());

            // Show row if EITHER filter matches
            if (nameMatch || positionMatch || teamMatch) {
              rows[i].style.display = "";
            } else {
              rows[i].style.display = "none";
            }
          }
        }
    </script>
</html>
{% endblock %}