<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <h1>Players</h1>
        <input type="text" id="playerSelector" onkeyup="playerSelector()" placeholder="Search...">
    <div class="players-container">
        {{ players|safe }}
    </div>
    </body>
    <script>
        function playerSelector() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("playerSelector");
          filter = input.value.toUpperCase();
          table = document.getElementById("players");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
</html>
{% endblock %}