<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}
<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>
        <div class="rules">
            <h1>Rules</h1>
        </div>
    </body>
</html>
{% endblock %}